{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}


{% block image %}
    <div class="auth-image-container">
        <img src="/images/register.webp" alt="Inscription">
    </div>
{% endblock %}

{% block form %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <h1>Inscription</h1>
        {% block form_row %}
            {{ form_label(registrationForm.lastName) }}
            {{ form_widget(registrationForm.lastName) }}
            {% if form_errors(registrationForm.lastName) %}
                <div class="error-message-container">
                    {{ form_errors(registrationForm.lastName) }}
                </div>
            {% endif %}

            {{ form_label(registrationForm.firstName) }}
            {{ form_widget(registrationForm.firstName) }}
            {% if form_errors(registrationForm.firstName) %}
                <div class="error-message-container">
                    {{ form_errors(registrationForm.firstName) }}
                </div>
            {% endif %}

            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            {% if form_errors(registrationForm.email) %}
                <div class="error-message-container">
                    {{ form_errors(registrationForm.email) }}
                </div>
            {% endif %}

            {{ form_label(registrationForm.plainPassword.first) }}
            {{ form_widget(registrationForm.plainPassword.first) }}
            {% if form_errors(registrationForm.plainPassword.first) %}
                <div class="error-message-container">
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>
            {% endif %}

            {{ form_label(registrationForm.plainPassword.second) }}
            {{ form_widget(registrationForm.plainPassword.second) }}
            {% if form_errors(registrationForm.plainPassword.second) %}
                <div class="error-message-container">
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>
            {% endif %}

            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
            {% if form_errors(registrationForm.agreeTerms) %}
                <div class="error-message-container">
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>
            {% endif %}
        {% endblock %}

        <button type="submit" class="btn">S'inscrire</button>
        <a class="not-auth" href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
    {{ form_end(registrationForm) }}
{% endblock %}
