{% extends 'base.html.twig' %}

{% block title %}Product name{% endblock %}

{% block body %}
    <main class="product-main">
        <section class="product-section">
            <div class="product-section-image">
                <img src="{{ asset(product.picturePath) }}" alt="Product 1" />
            </div>
            <div class="product-section-content">
                <h1>{{ product.name }}</h1>
                <span class="product-section-content-price">{{ product.price }}€</span>
                <span class="product-section-content-description-title">description</span>
                <p class="product-section-content-description-text">
                  {{ product.fullDescription }}
                </p>

                {% if form is not defined %}
                    <a href="{{ path('app_login') }}" class="product-section-content-button">
                        <span>Se connecter</span>
                    </a>
                {% else %}
                    <div class="container mt-4">
                        {{ form_start(form) }}
                            <div class="mb-3">
                                {{ form_label(form.quantity, 'Quantité') }}
                                {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.quantity) }}
                            </div>

                            <button type="submit" class="product-section-content-button">
                                <span>{{ btn_text }}</span>
                            </button>
                        {{ form_end(form) }}
                    </div>
                {% endif %}

            </div>
        </section>
    </main>
{% endblock %}
