<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}
		{# {% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %} #}
	</head>
  <body>
    <header class="main-header">
      <a href="{{ path('app_home') }}" class="header-logo">
        <img src="/images/logo.jpg" alt="Green Goodies">
        {% if app.request.pathinfo == '/' %}
          <h1 class="header-logo-title">Green Goodies</h1>
        {% else %}
          <p class="header-logo-title">Green Goodies</p>
        {% endif %}
      </a>
      <div class="header-links">
        {% if app.user %}
          <a href="{{ path('app_home') }}">Nos produits</a>
          <a href="{{ path('app_card') }}">Mon panier</a>
          <a href="{{ path('app_account') }}">Mon compte</a>
          <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
          <a href="{{ path('app_login') }}">Connexion</a>
          <a href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
      </div>
    </header>
    {% block body %}{% endblock %}
    <footer class="main-footer">
      <p>© GreenGoodies - 2024</p>
    </footer>
  </body>
</html>
