{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
  <main class="card-main">
    <section class="card-section">
        <h1>Mon panier</h1>
        {% if card is defined %}
          {% set total = 0 %}
          {% for orderedProduct in card.orderedProducts %}
            {% set productTotal = orderedProduct.product.price * orderedProduct.quantity %}
            {% set total = total + productTotal %}
            <ul class="card-section-products">
              <li class="card-section-products-item">
                <div class="card-section-products-item-image">
                  <img src="{{ asset('images/products/product-default.jpg') }}" alt="Product name" />
                </div>
                <div class="card-section-products-item-content">
                  <span class="card-section-products-item-content-title">{{ orderedProduct.product.name }}</span>
                  <span class="card-section-products-item-content-quantity">Quantité : {{ orderedProduct.quantity }}</span>
                  <span class="card-section-products-item-content-price">{{ orderedProduct.product.price * orderedProduct.quantity }}€</span>
                </div>
              </li>
            </ul>
          {% endfor %}
        
          <div class="card-section-total">
            <a href="{{ path('app_card_clear', {id: card.id}) }}" class="card-section-total-clear">x Vider le panier</a>
            <div class="card-section-total-price">Total panier : <span>{{ total }}€</span></div>
            <span class="card-section-total-delivery">Frais de livraison : Offert</span>
          </div>
          <a href="#" class="card-section-button">
            <span>Valider la commande</span>
          </a>
        {% else %}
          <p>Votre panier est vide</p>
        {% endif %}


    </section>
  </main>
{% endblock %}